html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.container--line {
  border-top: 2px rgb(20, 33, 61) solid;
  width: 100%;
  min-height: 300px;
  margin: 0 auto;
}

#root {
  font-family: "Lato", sans-serif;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}